@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  /* tells the browser that the page supports only a dark theme */
  color-scheme: dark;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  margin:0;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #10B981; /* Tailwind's green-500 */
  border-radius: 8px; /* Optional: for rounded corners */
}

::-webkit-scrollbar-track {
  background-color: #2D3748; /* Optional: background for the scrollbar track */
}

.rotating-container {
  position: relative;
  animation: rotate-clockwise 10s linear infinite; /* Clockwise rotation */
}

.rotating-container span {
  position: absolute;
  transform-origin: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem; /* Smaller font size */
  color: #22c55e;
}

/* Animation for clockwise rotation */
@keyframes rotate-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Clockwise */
  }
}




